---
const { title, description, url, image, author, title_override } = Astro.props

let subtitle = 'zkLocus'

let final_title = title_override ? title_override : `${subtitle} | ${title}` 
---

<!-- general meta -->
<meta name="title" content={final_title} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- open graph -->
<meta property="og:title" content={final_title}} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:image" content={Astro.site ? `${Astro.site}${image}` : image} />


<!-- page title -->
<title>{final_title}</title>
